body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  /*
  outline-style: dotted;
  outline-width: 3px;
  outline-color: black;
  outline-offset: -1em;
  */
  height: 100vh;
  width: 100vw;
}

#canvasHolder {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  position: relative;
  /*
  outline-style: dotted;
  outline-width: 3px;
  outline-color: blue;
  outline-offset: -0.5em;
  */
}

#canvasCenterEr {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#topControls {
  display: flex;
  flex-wrap: wrap;
}

#speedControls {
  display: flex;
  flex: 1;
}

#speedControls input[type=range] {
  flex: 1;
  min-width: 2em;
}

#dollyZoomControls {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  column-gap: 0.5em;
}

#dollyZoomInput {
  flex: 1 1;
  min-width: 2em;
}

#controls {
  flex: 1;
  user-select: none;
}

#fovDisplay {
  display: flex;
  align-items: flex-end;
  justify-items: center;
  overflow: hidden;
}

#fovSvg {
  width: 3.75em;
  height: 3.75em;
  overflow: overlay;
}

#bottom {
  display: flex;
  flex-direction: row;
}

.simpleBorder {
  border-style: solid;
  border-color: #ccc;
  border-width: 0.25em;
  margin: 0.25em;
  padding: 0.25em;
  border-radius: 0.5em;
}

#help a {
  text-decoration: none;
}

#workingCanvasHolder {
  background-color: black;
  position: absolute;
  z-index: 4;
  top: 1em;
  right: 1em;
  display: none;
}
#workingCanvas {
  opacity: 50%;
}

#displacementMap {
  position: absolute;
  z-index: 3;
  background-color: pink;
}